ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  
    li {
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
  
      a {
        text-decoration: none;
  
        h2 {
          margin: 0;
          padding: 0;
          text-decoration: none;
          color: #333;
  
          &:hover {
            color: #666;
          }
        }
      }
  
      img {
        width: 100px;
        height: auto;
        margin-right: 1rem;
      }
  
      h2:nth-of-type(2) {
        margin-left: auto;
      }
    }
  }
  