ul {
  list-style-type: none;
  padding: 0;
  margin: 0;

  li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    a {
      text-decoration: none;
      display: flex;
      align-items: center;

      h2 {
        margin: 0;
        padding: 0;
        text-decoration: none;
        color: #333;
        font-size: 2em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 80%;

        &:hover {
          color: #666;
        }
      }
    }

    img {
      width: 200px;
      height: 150px;
      margin-right: 1rem;
    }
  }
}
