.news-card.search {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.news-card.bookmark {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.news-card {
    //width: 100%;
    max-width: none;
    margin-bottom: 20px;
    width: auto;

    // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    .card-content {
        padding: 16px;

        .title {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 3px;
        }

        .summary {
            font-size: 14px;
            color: #666;
        }

        .imageBox {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .info-container {
            display: flex;
            align-items: center;
            gap: 5px;
            padding-bottom: 15px;

            // .pubDate {
            //     // ... (styles for the pubDate class)
            // }

            // .categories {
            //     // ... (styles for the categories class)
            //     // margin-left: 10px;
            // }

            .separator {
                // Display the separator by default
                display: inline;

                // Hide the separator on mobile screens
                @media (max-width: 767px) {
                    display: none;
                }
            }
        }

        // Styles for small screens
        @media (max-width: 600px) {
            .info-container {
                flex-direction: column;
                align-items: flex-start;
                gap: 2px;
                padding-top: 3px;

                .categories {
                    margin-left: 0;
                }
            }
        }
    }

    .card-actions {
        display: flex;
        justify-content: flex-start;
        padding: 8px 16px;
        border-top: 1px solid #f0f0f0;

        button {
            margin-right: 8px;
        }

        .card-action-text {
            padding-left: 8px;
        }

        .hide-on-mobile {
            @media (max-width: 767px) {
                // You can adjust the breakpoint based on your design
                display: none;
            }
        }
    }
}

@media (max-width: 768px) {
    .news-card {
        width: 100%;
        max-width: 600px;
        margin-bottom: 20px;
    }
}
